body{
    background-color: #EAF7FF;
}
.box{
    width: 50%;
    background-color: #fff;
    margin: auto;
    box-sizing: border-box;
    padding: 20px;
}
.box h1{
    text-align: center;
}
form div{
    margin-top: 15px;
}
form > div > label{
    display: block;
}
form > div>div>label{
    display: inline-block;
    margin-right: 40px;
}
form > div> div p{
    margin: 3px 0;
}
input[type="number"]{
    width:60px;
}
button[type="submit"]{
    background-color: rgb(76,139,245);
    display: block;
    margin: auto;
}